<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar Only</title>
    <!-- Albert Sans -->
    <link
      href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: "Albert Sans", sans-serif;
        background-color: #f6f9ff;
      }
    </style>
  </head>
  <body>
    <!-- Main Content Starts-->
    <div
      class="max-w-3xl mt-20 flex flex-col mx-auto size-full align-center justify-center"
    >
      <!-- ========== MAIN CONTENT ========== -->
      <main id="content">
        <div class="text-center py-10 px-4 sm:px-6 lg:px-8">
          <h1 class="block text-7xl font-bold text-gray-800 sm:text-9xl">
            404
          </h1>

          <p class="mt-3 text-gray-600">Oops, something went wrong.</p>
          <p class="text-gray-600">Sorry, we couldn't find your page.</p>
          <div
            class="mt-5 flex flex-col justify-center items-center gap-2 sm:flex-row sm:gap-3"
          >
            <img
              src="https://i.ibb.co/YFLZFqck/error-illustration.png"
              alt="404-error"
              border="0"
              width="300px"
              height="300px"
              class="mx-auto pb-5"
            />
          </div>
        </div>
      </main>
      <!-- ========== END MAIN CONTENT ========== -->

      <!-- ========== FOOTER ========== -->
      <footer class="mt-auto text-center py-5">
        <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
          <p class="text-sm text-gray-500">© All Rights Reserved. 2025.</p>
        </div>
      </footer>
      <!-- ========== END FOOTER ========== -->
    </div>
    <!-- Main Content Ends-->
  </body>
</html>
