# ======== Core ==========
fastapi
uvicorn
httpx

sqlmodel
pydantic[email,timezone]
pydantic-settings


# ========== SDK ============
boto3


# ======== Security ==========
PyJWT
passlib[bcrypt]


# ======== AI ===========
# openai
