## Global
region      = "ap-southeast-1"

## S3 bucket
bucket_name_prefix = "better-start-bucket"

## SSH
key_name    = "new key pair"

## DNS
route53_zone_id = "zoon_id"
base_domain_name = "nano-url.com"
