<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar Only</title>
    <!-- Albert Sans -->
    <link
      href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: "Albert Sans", sans-serif;
      }
    </style>
  </head>
  <body class="bg-bg-color">
    <div class="m-5 flex items-center justify-between flex-row">
      <div
        class="px-3 py-1 rounded justify-center items-center gap-4 inline-flex"
      >
        <!-- Home icon starts here -->
        <a href="/">
          <img
            src="https://i.ibb.co/vvs0cyBq/dashboard-home.png"
            alt="dashboard-home"
            border="0"
            width="20px"
            height="20px"
          />
        </a>
        <!-- Home icon ends here -->

        <div data-svg-wrapper>
          <svg
            width="15"
            height="14"
            viewBox="0 0 15 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.719158 7.92012L11.3466 7.92012L6.66563 12.6011L7.91613 13.8516L14.7319 7.03576L7.91613 0.219947L6.66563 1.47044L11.3466 6.15139L0.719158 6.15139L0.719158 7.92012Z"
              fill="black"
            />
          </svg>
        </div>
        <a
          href="#"
          class="text-black text-opacity-75 text-base font-semibold leading-5 break-words"
        >
          HR
        </a>
        <div data-svg-wrapper>
          <svg
            width="15"
            height="14"
            viewBox="0 0 15 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.884441 7.92012L11.5119 7.92012L6.83092 12.6011L8.08141 13.8516L14.8972 7.03576L8.08141 0.219947L6.83092 1.47044L11.5119 6.15139L0.884441 6.15139L0.884441 7.92012Z"
              fill="black"
            />
          </svg>
        </div>
        <div
          class="px-4 py-2 bg-purple-100 rounded-[100px] outline outline-2 outline-purple-700 outline-offset-[-5px] flex justify-center items-center gap-2 leading-none"
        >
          <div
            class="text-black text-[16px] font-sans font-medium leading-[27px] break-words"
          >
            See Hierarchy
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
