# ========== Core ==========
pika
pypdf

# =========== AI ===========
openai
google-generativeai
python-multipart

# =========== SDKs ===========
boto3

# ========= Utility =========
pydantic
pydantic-settings
tenacity
